*{
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.cust-bg{
    background-color: #282121;
}
.cust-dropdown{
    padding-top: 2rem;
    margin: 0.8rem;

}
.profile{
    width: 2rem;
    height: 2rem;
    padding-top: 0.4rem;
    margin: 0.8rem;
}
.cust-item{
    padding-left: 1rem;
    font-size: 14px;
}
.logo{

    height: 3rem;
width: 7rem;
}
/* home section */
.desc-sec {
    height: 41rem;
    width: 100%;
}

.description {
    padding-top: 11rem;
}

.shop-btn {
    background-color: #282121;
    border: none;
    width: 9rem;
    height: 3rem;
    border-radius: 0.3rem;
    color: #fff;
    font-weight: bold;
}

.cust-title {
    font-weight: 400;
}

.image1 {
    width: 13rem;
    height: 17rem;
    border-radius: 6rem;

}

.image2 {
    width: 13rem;
    height: 15rem;
    border-radius: 6rem;

}

.image3 {
    width: 19rem;
    height: 31rem;
    border-radius: 6rem;

}

.img1 {
    height: 15.5rem;
    width: 13.5rem;

}

.img2 {
    margin-top: 2.5rem;
    height: 14.5rem;
    width: 13.5rem;

}

.img3 {
    padding-top: 2rem;
    height: 30rem;
    width: 19rem;

}

.img-sec {
    padding-top: 5rem;
}

.img3-sec {
    padding-top: 5rem;
    display: flex;
    justify-content: right;
    align-items: start;
}

@media screen and (max-width:765px) {
    .description {
        padding-top: 6rem;
    }
    .cust-btn{
        display: flex;
        justify-content: center;
    }
    .desc-sec {
        height: 22rem;        
    }
    .img-sec {
        display: flex;
        align-items: center;
    }
    .img2 {
        margin-top: 0rem;
        margin-left: 1rem;
    
    }
    .image2 {
        height: 16.2rem;
    }
    .img3-sec {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
   
}
/* second section */
.under-line {
    width: 150px;
    height: 0.2rem;
    background-color: #282121;
    display: inline-block;
    margin-bottom: 3rem;

}

.head-title {

    text-align: center;
    padding-top: 75px;
}

.head-title h2 {
    font-weight: bold;
    color: #282121;
}

.desc {
    padding: 15px;
    line-height: 1.7;
}

.wish {

    display: flex;
    justify-content: left;
}

.swap {
    display: flex;
    justify-content: right;
}

.wish-sec {
    background-color: #282121;
    border-radius: 0.3rem;
    width: 31rem;
    height: 10rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.wish-sec p {
    font-size: 0.8rem;
}

.wish-sec button {
    width: 6rem;
    border: none;
    padding: 0.4rem;
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    font-weight: 600;
    color: #282121;
}

.swap-sec {
    background-color: #282121;
    border-radius: 0.3rem;
    width: 31rem;
    height: 10rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.swap-sec p {
    font-size: 0.8rem;
}

.swap-sec button {
    width: 9rem;
    border: none;
    padding: 0.4rem;
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    font-weight: 600;
    color: #282121;
}

@media screen and (max-width:765px) {
    .swap {
        padding-top: 2rem;
    }
    .under-line {
        margin-bottom: 1rem;
        width: 150px;
    height: 0.2rem;
    background-color: #282121;
    display: inline-block;
    
    }
}

/* third section new arrival carousel */
.cust-card-wrapper {
    padding: 0rem 3rem;
    display: flex;
    justify-content: start;
    height: 34rem;
    width: 100%;
}
.cust-card {
    padding: 0;
    width: 18rem;
    height: 12rem;
}
.cust-img-card{
    margin-top: 2.5rem;
    width: 19rem;
    height: 23.5rem;
    border-radius: 0.3rem;
    background-color: #f3ecec;
    padding: 3rem;
    
}
.cust-img-card img{
    border-radius: 1rem;
}


.cust-card-body{
    width: 16rem;
    height: 5rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    
}
.cust-card-body span{
    margin-left: 5rem;
}
.cust-card-body p span{
    align-items: end;
    height: 2rem;
}
.posted{
    display: flex;
    justify-content: space-between;
    width: 19rem;
}
.cust-card-title{
    font-size: 1rem;
    padding-top: 1rem;
    height: 2.5rem;
    width: 19rem;
    text-align: start;
}

.cust-carousel-control-prev {
    position: absolute;
    right: 0;
    margin-right: 9rem;
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
.cust-carousel-control-next{
    position: absolute;
    right: 0;
    margin-right: 6rem;
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease; 
}

@media screen and (min-width:765px){
    .m-card-section{
        display: none;
    }
}

@media screen and (max-width:765px) {
    .w-card-section{
        display: none;
    }
    
    .cust-img-card{
        
        margin-left: -4.5rem;
        margin-top: 0.5rem;
        width: 11rem;
        height: 13rem;
        border-radius: 0.3rem;
        background-color: #f3ecec;
        
    }
    .cust-card-title{
        margin-left: 2rem;
    }
    .cust-card {
        padding-top: 0rem;
        width: 7rem;
        height: 8rem;
    }
    .cust-cur-item{
        display: flex;
        justify-content: center;
    }
    .active{
        margin-top: 1rem;
    }
    .head-title {
        padding-top: 65px;
    }
    .slide-button{
        display: none;
    }
    .m-card-section{
        display: flex;
        margin-bottom: 10rem;
    }
}
/* sell section */
.sell-img{
    background-color: #dfd7d7;
    border-radius: 0.5rem;
}
.sell-description {
    padding-top: 8rem;
}
.sell-img-sec {
    padding-top: 0rem;
    display: flex;
    justify-content: right;
}
@media screen and (max-width:765px){
    .sell-description {
        padding-top: 3rem;
    }
}

/* trending section */
.trend-card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dfd7d7;
    width: 19rem;
    height: 6rem;
}
.trend-card-title{
    margin-top: 1rem
}
.trend-btn {
    background-color: #282121;
    border: none;
    width: 7rem;
    height: 2rem;
    border-radius: 0.3rem;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}
.trend-img-card{
    margin-top: 2.5rem;
    width: 19rem;
    height: 18rem;
    border-radius: 0.3rem;
    background-color: #f3ecec;
    padding: 2rem;
    
}
.trend-m-card-section{
    display: none;
}
@media screen and (max-width:765px) {
    .trend-m-card-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85rem;
        margin-top: -2rem;
    }
    .trend-m-cust-card{
        background-color: #f3ecec;
        margin-top: 1rem;
    }
    .trend-m-img-card{
        margin-top: 3rem;
        width: 13rem;
        height: 15rem;
        background-color: #f3ecec;
    }
    .trend-m-card-body{
        margin-top: 1rem;
        padding-top: 0.5rem;
        background-color: #dfd7d7;
        
    }
    .trend-m-card-title{
        margin-top: 1rem;
        
    }
    .trend-btn{
        margin-bottom: 1rem;
    }
}

/* Footer */

.footer{
    background-color: #282121;
    color: #fff;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

}
.footer-item{
   display: flex;

}
.footer-item a{
    margin: 1rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:765px){
    .footer-item{
        display: flex;
        flex-direction: column;
     }
}
